:root {
	--padding: 2dvh;	
	--bgcolour: #FFEFEF;
	--maincolour: #F3D0D7;
	--bodycolour: #F0EBE3;
	--pink: #AA336A;
}

h1,h2,h3,h4,h5,h6, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html, body, {
	min-height: 100dvh;
	margin: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
	background-color: #23241f;
    color: #f8f8f2;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px 10px;
}

.container{
	min-height: 96dvh;
}

hr {
	text-align: center;
	border-color: var(--maincolour);
}

a {
    -webkit-user-drag: none;
    color: var(--pink);
}

::selection {
    background-color: #888fb94f;
}

::-webkit-scrollbar {
    display: none;
}

p {
	margin-top: 2px;
}

#tags {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.post {
	background: var(--bgcolour);
	border-radius: 2px;
	word-wrap: break-word;
	margin: 4px;
	padding: var(--padding);
}

.metadata {
	display: flex;
	color: grey;
	opacity: 0.8;
	flex-direction: row-reverse;
    justify-content: space-between;}
}
img {
    -webkit-user-drag: none;
}

#postcontainer {
	display: flex;
	flex-direction: column-reverse;
}

body {
    font-family: monospace;
    background-color: var(--bodycolour);
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    padding: var(--padding);
}
.main {
    background-color: var(--maincolour);
    padding: var(--padding);
    max-width: 40dvw;
    flex: 1;
}

.fix {
	position: fixed;
	text-align: center;
	width: 200px;
	background-color: var(--bgcolour);
}
.sidebar {
    width: 200px;    
    background-color: var(--bgcolour);
    padding: var(--padding);
}
